In [1]:
from pathlib import Path
import json

import pandas as pd

from transformers import AutoTokenizer

/root/CS726/.env/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
tokenizer = AutoTokenizer.from_pretrained("seeklhy/codes-3b-spider")

print(tokenizer("[LEFT_CHILD]"))

In [13]:
tokenizer("not in")

{'input_ids': [1206, 328], 'attention_mask': [1, 1]}

In [22]:
foo = ["union", "intersection", "difference", "selection", "projection", "and", "or", "greater than", "gte", "less than", "less than or equal to", "order by ascending", "order by descending", "group by", "limit", "in", "not in", "like", "not like", "sum", "max", "min", "count", "average", "distinct", "keep"]

In [21]:
x = tokenizer(foo)
for i, j in zip(x['input_ids'], foo):
    print(i, j)

[13304] union
[11232] intersection
[21034] difference
[8319] selection
[9886] projection
[363] and
[271] or
[24744, 2784] greater than
[33597] gte
[2274, 2784] less than
[2274, 2784, 556, 5040, 372] less than or equal to
[1174, 810, 28286] order by ascending
[1174, 810, 37053] order by descending
[1363, 810] group by
[3248] limit
[11001, 788] belong
[1206, 328] not in
[6228] like
[1206, 2124] not like
[1036] sum
[1449] max
[887] min
[998] count
[14298] average
[25524] distinct
[10504] keep

In [3]:
PATH_DS = Path('data')
PATH_BIRD_SQL = PATH_DS / 'bird_sql'
PATH_SPIDER_SQL = PATH_DS / 'spider'

In [11]:
with open(PATH_SPIDER_SQL / 'processed' / 'train_gold.json') as f:
    df_bird = pd.DataFrame(json.load(f))
    df_bird.set_index('question_id', inplace=True)

In [12]:
df_bird.head()

,db_id,question,SQL
question_id,,,
0,department_management,How many heads of the departments are older th...,SELECT count(*) FROM head WHERE age > 56
1,department_management,"List the name, born state and age of the heads...","SELECT name , born_state , age FROM head ORD..."
2,department_management,"List the creation year, name and budget of eac...","SELECT creation , name , budget_in_billions ..."
3,department_management,What are the maximum and minimum budget of the...,"SELECT max(budget_in_billions) , min(budget_i..."
4,department_management,What is the average number of employees of the...,SELECT avg(num_employees) FROM department WHER...

In [13]:
df_bird_sql = df_bird['SQL'].copy()

In [14]:
df_bird_sql_wo_nested_queries = df_bird_sql[~df_bird_sql.str.contains('inner join', case=False)]
print)df_bird_sql_wo_nested_queries.str.len().describe())
df_bird_sql_wo_nested_queries[~df_bird_sql_wo_nested_queries.str.contains(r'\(.*\bSELECT\b.*\)', regex=True)].str.len().describe()

In [15]:
df_bird_sql_wo_nested_queries.str.len().describe()

count    7000.000000
mean      109.642429
std        64.809316
min        18.000000
25%        62.000000
50%        93.000000
75%       146.250000
max       577.000000
Name: SQL, dtype: float64

In [16]:
df_bird_sql_wo_nested_queries.iloc[0]

'SELECT count(*) FROM head WHERE age  >  56'

count    6464.000000
mean      107.559406
std        64.262723
min        18.000000
25%        60.000000
50%        90.000000
75%       146.000000
max       577.000000
Name: SQL, dtype: float64

In [ ]:
# BIRD
# count    336.000000
# mean      90.845238
# std       43.095311
# min       29.000000
# 25%       63.750000
# 50%       81.000000
# 75%      109.250000
# max      542.000000
# Name: SQL, dtype: float64

In [ ]:
# SPIDER DEV
# count    958.000000
# mean     104.390397
# std       60.025456
# min       20.000000
# 25%       61.000000
# 50%       87.000000
# 75%      136.000000
# max      422.000000
# Name: SQL, dtype: float64

In [ ]:
# SPIDER TRAIN
# count    6464.000000
# mean      107.559406
# std        64.262723
# min        18.000000
# 25%        60.000000
# 50%        90.000000
# 75%       146.000000
# max       577.000000
# Name: SQL, dtype: float64